<h1 class="text-center">Nueva Orden de Trabajo</h1>
<%= render 'form', orden_trabajo: @orden_trabajo %>

<%= link_to 'Back', orden_trabajos_path, {:class => "center-block btn btn-dark btn-lg btn-block w-50 mt-5"} %>
